* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Imbue';
    font-style: normal;
    width: 100vw;
   
}
.conteiner{
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a{
    color: #C21B1B;


}

header{
    display: flex;
    justify-content: space-between;
    
    width: 100vw;
}
.logo{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 115px;
    margin-left: 80px;
    color: #000000;
}
.log{
    width: 252px;
    height: 262px;
}
.blok{
        margin-top: 40px;
       margin-right: 80px;
       width: 266px;
      
       display: flex;
       flex-direction: column;
       align-items: center;
       font-style: normal;
       font-weight: 400;
       font-size: 40px;
       line-height: 48px;   
       width: 266px;
}
.phone{
    width: 74px;
   
    margin: 10px;

    display: flex;
    justify-content: center;
}

.zapi{
   
    width: 716px;
    height: 106px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: #1E1E1E;
    margin: 80px;
}
.h{
   
    width: 396px;
    height: 62px;

    font-weight: 400;
    font-size: 48px;
    line-height: 58px;

    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.kra{
    width: 1327px;
    height: 1658px;

    background: rgba(194, 27, 27, 0.65);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.red{
    margin: 45px;
    width: 550px;
    height: 599px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ph{

   
    

    font-family: 'Imbue';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;

    color: #000000;
}

.bel{
   
    

    font-family: 'Imbue';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;

    color: #FFFFFF;
}
.o{
    width: 550px;
    height: 68px;

    font-family: 'Imbue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #000000;

    opacity: 0.8;

    background: #FFFFFF;
    border: none;
}

.sero{
    margin: 80px;
    width: 933px;
    height: 257px;
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
}
.blok_sero{
  
    height: 257px;
    background: #D9D9D9;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end; */
}

.checkbox{
    width: 46px;
    height: 40px;


background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
}
.xz{
    display: flex;
    
    padding: 40px;
}
.x1{
    margin-right: 400px;
}
.nap{
    margin: 60px;
    width: 1080px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.button2{
    margin-top: 100px;
    position: relative;
    width: 365px;
    height: 108px;
    display: flex;
    
    align-items: center;
}
.b5{
    position: absolute;
    bottom: 40px;
    right: 50px;
    
    z-index: 1;
    width: 414px;
    height: 143px;
    border: none;


    background: rgba(194, 27, 27, 0.79);
}

.b6{
    position: absolute;

    left: 50px;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 414px;
    height: 142px;
    font-style: normal;
   
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: right;

    color: #FFFFFF;

    border: none;
    background: #000000;
}
main{
    width: 100vw;
    background: url(../img/gor2.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.line{

    
    background-color: rgb(0, 0, 0); 
    color: red; 
    height: 2px;
}